{% extends 'base.html' %}

{% block title %}
Audi
{% endblock %}


{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <style>
            body { background:url('/static/img/img_8.png');
                    background-size: contain }
        </style>
        <h1 class="fw-light">Audi</h1>
        <p class="lead text">The history of AUDI AG extends back to the 19th century. Find out more about the great personalities from the company’s 100-plus years of history. Learn about the fascinating evolution of the various models and major milestones in the fields of car manufacturing, motorcycle, engine production and motor racing.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">RS 6 Avant</h3>
            <img src="/static/img/img_1.png" alt="RS 6 Avant" width="100%" height="225"></img>
            <div class="card-body">
              <p class="text-dark">Incredibly dynamic and at the same time phenomenally practical, this car is suitable for both a family trip and an occasion on the race track. Powerful, harmonious and convincing in every way, the Audi RS 6 Avant combines the characteristics of a supercar with the famous spaciousness of the Audi Avant station wagon.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">RS 7 Sportback</h3>
            <img src="/static/img/img_2.png" alt="RS 7 Sportback" width="100%" height="225"></img>
            <div class="card-body">
              <p class="text-dark">Wild and unbridled or sedate and stylish? All at once. That's exactly what you'll find in the new Audi RS 7 Sportback. The elegant, unmistakable lines of the stylish five-door coupe are harmoniously combined with the drive and power of the unique V8 TFSI engine.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">RS Q8</h3>
            <img src="/static/img/img.png" alt="RS Q8" width="100%" height="225"></img>
            <div class="card-body">
              <p class="text-dark">The most powerful crossover coupe from Audi Sport is the new Audi RS Q8. A 100% RS that develops an incredible 600 horsepower. With., this car is striking in its ability to transform. Exquisite dynamic design is combined in it with phenomenal practicality.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">A4 allroad quattro</h3>
            <img src="/static/img/img_3.png" alt="A4 allroad quattro" width="100%" height="225"></img>
            <div class="card-body">
              <p class="text-dark">Thanks to its high ground clearance, striking design and high functionality, the A4 allroad quattro occupies a special position in the brand's model range.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">A8 L</h3>
            <img src="/static/img/img_4.png" alt="A8 L" width="100%" height="225"></img>
            <div class="card-body">
              <p class="text-dark">The Audi A8 L is the epitome of a flawless luxury car. The Audi A8 L is the perfect choice for those who value technological excellence and elegant design, sophistication and dynamism.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Audi e-tron Sportback</h3>
            <img src="/static/img/img_5.png" alt="Audi e-tron Sportback" width="100%" height="225"></img>
            <div class="card-body">
              <p class="text-dark">Challenging, up-to-date and at the same time comfortable, with a modern, attractive and practical design.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}