{% extends 'base.html' %}

{% block title %}
Porsche
{% endblock %}


{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <style>
            body { background:url('/static/img/img_14.png');
                    background-size: contain}
        </style>
        <h1 class="fw-light">Porsche</h1>
        <p class="lead text">The company produces luxury sports cars,as well as SUVs.The production of Porsche cooperates to a large extent with Volkswagen.Manufacturer of German cars and sunglasses,founded by designer Ferdinand Porsche in 1931,is currently a subsidiary of Porsche Automobile Holding.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">718 Cayman S</h3>
            <img src="/static/img/img_15.png" alt="718 Cayman S" width="100%" height="225">
            <div class="card-body">
              <p class="text-dark">The 718 models are built for sporty lifestyle.These are mid-engined sports cars that capture the sporting spirit of the legendary Porsche 718 and feature state-of-the-art technology, demonstrating this amazing combination on the roads of our world. With only one goal: to add emotions to everyday life.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Panamera Turbo S</h3>
            <img src="/static/img/img_18.png" alt="Panamera Turbo S" width="100%" height="225">
            <div class="card-body">
              <p class="text-dark">Whether it's the Panamera,the Panamera Executive or the Panamera Sport Turismo, the silhouettes and proportions of the cars immediately make them part of the Porsche family.Athletic, taut, with clear edges and powerful “muscles”.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Taycan</h3>
            <img src="/static/img/img_17.png" alt="Taycan" width="100%" height="225">
            <div class="card-body">
              <p class="text-dark">Conciseness,expressiveness,timelessness are the hallmarks of the Taycan, whose appearance is emphasized by the dynamic Flyline line.This car offers a lot of free space in the front and rear trunk,and also guarantees exclusive comfort in the cabin for 4 people.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">911 Carrera T</h3>
            <img src="/static/img/img_16.png" alt="911 Carrera T" width="100%" height="225">
            <div class="card-body">
              <p class="text-dark">When contact with the road improves.When weight is reduced and maneuverability is increased.Then the true sports spirit awakens.The 911 Carrera T is all about simplicity.Conscious rejection of more.For more vivid emotions while driving.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Macan GTS</h3>
            <img src="/static/img/img_19.png" alt="Macan GTS" width="100%" height="225">
            <div class="card-body">
              <p class="text-dark">5 doors,5 seats and a unique, inimitable and unstoppable character.In its latest generation,the Macan remains the sports car of the compact SUV segment.From the very first glance, the sloping roofline betrays Porsche genes: the so-called Flyline gives the Macan a silhouette typical of a sports car.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Cayenne Turbo Coupe</h3>
            <img src="/static/img/img_20.png" alt="Cayenne Turbo Coupe" width="100%" height="225">
            <div class="card-body">
              <p class="text-dark">The Cayenne line has been replenished with another representative with incredible power and precise dynamics.The Cayenne Turbo Coupe has all the necessary prerequisites to take the lead right from the start.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}