{% extends 'base.html' %}

{% block title %}
Volkswagen
{% endblock %}


{% block content %}
<main>
  <section class="py-3 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <style>
            body { background:url('/static/img/img_9.jpg');
                    background-size: contain}
        </style>
        <h1 class="fw-light">Volkswagen</h1>
        <p class="lead text">Volkswagen is a German car brand, one of many owned by Volkswagen AG. Under this brand, 6 million 620 thousand cars were sold in 2019. The headquarters is in Wolfsburg. The Volkswagen Automuseum is also located there.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Golf GTI</h3>
            <img src="/static/img/img_7.png" alt="Golf GTI" width="100%" height="180">
            <div class="card-body">
              <p class="text-dark">The 2022 Golf GTI was named a Best New Car by Autotrader.With its compelling tech, modern looks, and powerful turbocharged engine with 6-speed manual transmission, is it surprising that the industry continues to recognize this model? Not for Golf GTI owners. Just check their smiles.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Arteon</h3>
            <img src="/static/img/img_9.png" alt="Arteon" width="100%" height="180">
            <div class="card-body">
              <p class="text-dark">A classic look,a modern performance,a masterstroke of sophistication.With elegant exterior styling that features an aerodynamic fastback design and a 300-hp turbocharged engine, you’ll find the Arteon delivers a premium driving experience all its own.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Atlas</h3>
            <img src="/static/img/img_10.png" alt="Atlas" width="100%" height="180">
            <div class="card-body">
              <p class="text-dark">Think big.That’s the Atlas.There’s comfort and more than enough room for your family, friends and furry companions to happily go along for the ride in the Atlas.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Tiguan</h3>
            <img src="/static/img/img_11.png" alt="Tiguan" width="100%" height="180">
            <div class="card-body">
              <p class="text-dark">Style,versatility and power wonderfully together.When good things come together,that’s Tiguan.Within a sophisticated and thoughtful design, you get a sharp all-around SUV that’s just about as wonderful as utility gets.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">Taos</h3>
            <img src="/static/img/img_12.png" alt="Taos" width="100%" height="180">
            <div class="card-body">
              <p class="text-dark">We designed the Taos to make your daily driving experience a joy. And with the available 4MOTION® all-wheel-drive and a turbocharged engine,it’s ready to handle the not so everyday,too.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <h3 class="text-dark py-2 bg-light">ID.4</h3>
            <img src="/static/img/img_13.png" alt="ID.4" width="100%" height="180">
            <div class="card-body">
              <p class="text-dark">Assembled locally in Chattanooga,TN the 2023 Volkswagen ID.4 SUV is truly something to behold.Designed to deliver on all your needs, its style, performance, functionality and accessibility set it apart–it’ll transform how you think about electric vehicles.</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}